body{
    margin: 0px auto;
    padding: 0px;
}

.snow-container{
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: url("../img/background/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
}

.snow, .snow::after, .snow::before{
    content: "";
    position: absolute;
    top: -550px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: 
    radial-gradient(4px 4px at 100px 50px, #FFFAFA, transparent),
    radial-gradient(6px 6px at 200px 150px, #FFFAFA, transparent),
    radial-gradient(3px 3px at 300px 250px, #FFFAFA, transparent),
    radial-gradient(4px 4px at 400px 350px, #FFFAFA, transparent),
    radial-gradient(10px 10px at 500px 100px, #FFFAFA, transparent),
    radial-gradient(3px 3px at 50px 200px, #FFFAFA, transparent),
    radial-gradient(4px 4px at 150px 300px, #FFFAFA, transparent),
    radial-gradient(6px 6px at 250px 400px, #FFFAFA, transparent),
    radial-gradient(3px 3px at 350px 500px, #FFFAFA, transparent);
    background-size: 550px 550px;
    background-repeat: repeat;
    filter: blur(1px);
    animation-name: snowfall;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.snow::after{
    margin-left: -350px;
    opacity: 0.4s;
    filter: blur(2px);
    animation-duration: 7s;
    animation-direction: reverse;
}

.snow::before{
    margin-left: -450px;
    opacity: 0.8s;
    filter: blur(3px);
    animation-duration: 10s;
    animation-direction: reverse;
}

@keyframes snowfall{
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(550px);
    }
}